{% macro render_field(field) %}
  {% if field.errors %}
    {{ field.label(class_="error") }}
    {{ field(class_="error", **kwargs) }}
    <small class="error">
      {% for error in field.errors %}
        {{error}}
      {% endfor %}
    </small>
  {% else %}
    {{ field.label() }}
    {{ field() }}
  {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
  {% if field.errors %}
    {{ field(class_="error", **kwargs) }}
    {{ field.label(class_="error", **kwargs) }}
    <small class="error">
      {% for error in field.errors %}
        {{error}}
      {% endfor %}
    </small>
  {% else %}
    {{ field() }}
    {{ field.label() }}
  {% endif %}
{% endmacro %}

{% macro render_radio(field) %}
  {% if field.errors %}
      {{ field.label(class_="error", **kwargs) }}
      <ul>
      {% for subfield in field %}
        <li>
          {{ subfield(class_="error", **kwargs) }} {{ subfield.label(class_="error", **kwargs) }}
        </li>
      {% endfor %}
    </ul>
    <small class="error">
      {% for error in field.errors %}
        {{error}}
      {% endfor %}
    </small>    
  {% else %}
    {{ field.label() }}
    <ul>
      {% for subfield in field %}
        <li>
          {{ subfield }} {{ subfield.label }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}