<!doctype html>
<html>
<head>
      <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

      <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

      <script src="{{ url_for('static', filename='vendor/foundation-sites/js/foundation.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message  in messages %}
        <div class="alert-box alert">
          {{ message }}&nbsp;
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
