<!doctype html>
<html>
<head>
      <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
      <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message  in messages %}
        <div class="alert-box alert">
          {{ message }}&nbsp;
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
