{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_checkbox %}
{% extends "base.html" %}
{% block content %}
  <section class="row">
    <div class="columns large-6 large-offset-3">
      <div class="panel">
        <h1>Direct debit</h1>
        <p>
          Next you will be asked to create a direct debit mandate so that your membership can be setup if the target is met.
        </p>
        <p>
          <strong>No money will be taken from your account unless the target is met.</strong>
        </p>
        <form action="" method="post">
          <button type="submit" class="button expand">Next</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
