{% extends "base.html" %}
{% block content %}
  <section class="row">
    <div class="columns large-6 large-offset-3">
      <div class="callout primary">
          <h1 class="condition">
            {{config['BECKTON_STATEMENT']}}
          </h1>
          <p>
            {{config['BECKTON_SUCCESS']}}
          </p>
        </div>
    </div>
  </section>
  <section class="row">
    <div class="columns large-6">
      <h2>About this campaign</h2>
      {{config['BECKTON_EXPLANATION']|markdown}}
      <p>
        Your information will be stored securely and will not shared with anyone else under any circumstances.
      </p>
    </div>
      <div class="columns large-6">
        <h2>Progress</h2>
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{commitment_percent}}" aria-valuemin="0" aria-valuetext="{{commitment_percent}} percent" aria-valuemax="100">
          <span class="progress-meter" style="width:{{commitment_percent}}%"></span>
        </div>
        <p>
          <p>So far {{commitment_count}} {% if commitment_count == 1%}person has{% else %}people have{% endif %} signed up. The target is {{config['BECKTON_TARGET']}} people.</p>
        </p>
    </div>
  </section>
{% endblock %}
