$font-weight-normal: 200;
$font-weight-bold: 800;
$standard-margin: 1rem;
$primary-color: #3897D9;
$button-bg-hover: #2d8bcd;
$secondary-color: #64D98A;
$white: #FFFFFF;
$jet: #5a554c;
$panel-bg: #F2F1EF;
$body-font-family: 'Arvo', serif;
$header-font-weight:800;
$header-font-color: #3897D9;
$panel-font-color: $jet;

$button-font-weight: 800;
$button-bg-color: $primary-color;

$form-label-font-size: 1rem;
$form-label-font-weight: $font-weight-bold;
$form-label-bottom-margin: $standard-margin / 2;