$primary-color: #3897D9;
$button-bg-hover: #5ECA7F;
$secondary-color: #64D98A;
$white: #FFFFFF;
$panel-bg: #F2F1EF;
$body-font-family: 'Open Sans', sans-serif;
$header-font-weight:800;
$header-font-color: #3897D9;


$button-font-weight: 800;
$button-bg-color: $secondary-color;