@import '_settings.scss';
@import '../vendor/foundation/foundation.scss';

body {
  margin-top:1rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button.button {
  border-bottom: solid 5px $button-bg-hover;
}

.panel h1.condition:first-child {
  line-height: 1.15;
  margin:$standard-margin *1 0 $standard-margin *1 0;
  border-top: solid 3px #5a554c;
  padding-top:$standard-margin / 2;
}

form ul {
  list-style-type: none;
  margin-left:$standard-margin / 4;
  label {
    font-weight:normal;
  }
}

.alert-box {
  text-align:center;
}

// color: #484139;
// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);